In [1]:
import pandas as pd
# df = pd.read_csv("tree.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part3/ch2/tree.csv")
print(df.sample(10))

    나무  비료        성장률
116  D   3  70.652882
2    A   1  56.476885
6    A   1  65.792128
41   B   2  59.713683
13   A   2  33.867198
71   C   2  78.380366
19   A   2  38.876963
51   B   3  57.149177
44   B   2  43.214780
12   A   2  55.419623

In [2]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('성장률 ~ 나무 + 비료 + 나무:비료', data=df).fit()
anova_table = sm.stats.anova_lm(model)
print(anova_table)

             df       sum_sq      mean_sq          F        PR(>F)
나무          3.0  4783.353938  1594.451313  18.391274  9.016693e-10
비료          1.0   873.322002   873.322002  10.073374  1.942421e-03
나무:비료       3.0   394.801585   131.600528   1.517952  2.137666e-01
Residual  112.0  9709.960792    86.696078        NaN           NaN

In [ ]:
# '성장률 ~ 나무 + 비료 + 나무:비료'
# 전체 구조: Y ~ X1 + X2 + X1:X2
# | 구문      | 의미                                       |
# | ------- | ---------------------------------------- |
# | **`Y`** | 종속변수 (결과변수) — 여기서는 `성장률`                 |
# | **`~`** | “~ 오른쪽에 있는 변수들이 왼쪽의 Y를 설명한다”는 의미         |
# | **`+`** | 여러 독립변수를 함께 포함한다는 뜻                      |
# | **`:`** | 두 변수 간의 **상호작용(Interaction)** 항을 포함한다는 뜻 |

# | 항목        | 의미               | 설명                          |
# | -------    | ------------       | --------------------------- |
# | `성장률`    | 종속변수 (Y)        | 나무 종류, 비료 종류에 따라 달라지는 결과 변수 |
# | `나무`      | 독립변수1 (요인 A)  | 예: 나무 종류 (소나무, 참나무 등)       |
# | `비료`      | 독립변수2 (요인 B)  | 예: 비료 종류 (A, B, C 등)        |
# | `나무:비료` | 상호작용항 (A×B)    | “나무 종류별로 비료 효과가 다르다”는 관계 포함 |

In [3]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('성장률 ~ C(나무) + C(비료) + C(나무):C(비료)', data=df).fit()
anova_table = sm.stats.anova_lm(model)
print(anova_table)

                df       sum_sq      mean_sq          F        PR(>F)
C(나무)          3.0  4783.353938  1594.451313  18.855528  6.600012e-10
C(비료)          2.0  1127.924259   563.962129   6.669256  1.857612e-03
C(나무):C(비료)    6.0   717.520672   119.586779   1.414199  2.157357e-01
Residual     108.0  9132.639448    84.561476        NaN           NaN

In [4]:
print(format(6.600012e-10, '.11f'))
print(format(1.857612e-03, '.11f'))
print(format(2.157357e-01, '.11f'))

0.00000000066
0.00185761200
0.21573570000

In [5]:
model = ols('성장률 ~ C(나무) * C(비료)', data=df).fit()
anova_table = sm.stats.anova_lm(model)
print(anova_table)

                df       sum_sq      mean_sq          F        PR(>F)
C(나무)          3.0  4783.353938  1594.451313  18.855528  6.600012e-10
C(비료)          2.0  1127.924259   563.962129   6.669256  1.857612e-03
C(나무):C(비료)    6.0   717.520672   119.586779   1.414199  2.157357e-01
Residual     108.0  9132.639448    84.561476        NaN           NaN

In [ ]:
# ==========================================

In [6]:
import pandas as pd

df_3= pd.read_csv("train.csv")
df_3

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,3331,34.0,State-gov,177331,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Black,Male,4386,0,40.0,United-States,>50K
1,19749,58.0,Private,290661,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40.0,United-States,<=50K
2,1157,48.0,Private,125933,Some-college,10,Widowed,Exec-managerial,Unmarried,Black,Female,0,1669,38.0,United-States,<=50K
3,693,58.0,Private,100313,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1902,40.0,United-States,>50K
4,12522,41.0,Private,195661,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,54.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29299,15999,28.0,Private,47168,10th,6,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,40.0,United-States,<=50K
29300,21604,44.0,Local-gov,231793,Doctorate,16,Married-spouse-absent,Prof-specialty,Unmarried,White,Female,0,0,38.0,United-States,<=50K
29301,26839,41.0,Local-gov,201435,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,40.0,United-States,<=50K
29302,16681,43.0,Private,137722,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40.0,United-States,<=50K
29303,16069,22.0,Private,406978,Bachelors,13,Never-married,Exec-managerial,Other-relative,White,Female,0,0,40.0,United-States,<=50K

In [11]:
# 결측치 이상치 제거
m = df_3['workclass'].mode()[0]
df_3['workclass'] = df_3['workclass'].fillna(m)

In [12]:
df_3["income_code"] = df_3["income"].map({'<=50K':0, '>50K':1})

In [14]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
model = ols('income_code ~ C(workclass)* C(education)', df_3).fit()
print(anova_lm(model))

                                df       sum_sq    mean_sq           F  \
C(workclass)                   7.0   149.623342  21.374763  137.975427
C(education)                  15.0   648.602960  43.240197  279.118166
C(workclass):C(education)    105.0    28.412960   0.270600    1.746737
Residual                   29204.0  4524.201131   0.154917         NaN

                                  PR(>F)
C(workclass)               6.632449e-201
C(education)                0.000000e+00
C(workclass):C(education)   3.624615e-06
Residual                             NaN