In [ ]:
# -----
# 문제 정의
# ------
# 주어진 제품 및 매장(X값, 컬럼) 기반으로 판매금액(Item_Outlet_Sales)을 예측하기

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
# train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch4/train.csv")
# test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch4/test.csv")

In [ ]:
# -------------------
# EDA
# -------------------

In [2]:
train.shape, test.shape

((6818, 12), (1705, 11))

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6818 non-null   object
 1   Item_Weight                5656 non-null   float64
 2   Item_Fat_Content           6818 non-null   object
 3   Item_Visibility            6818 non-null   float64
 4   Item_Type                  6818 non-null   object
 5   Item_MRP                   6818 non-null   float64
 6   Outlet_Identifier          6818 non-null   object
 7   Outlet_Establishment_Year  6818 non-null   int64
 8   Outlet_Size                4878 non-null   object
 9   Outlet_Location_Type       6818 non-null   object
 10  Outlet_Type                6818 non-null   object
 11  Item_Outlet_Sales          6818 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 639.3+ KB

In [4]:
test.info()
# test에 Item_Outlet_Sales 컬럼이 없는 걸 보니
# y값을 Item_Outlet_Sales 으로 두면 될거같음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1705 non-null   object
 1   Item_Weight                1404 non-null   float64
 2   Item_Fat_Content           1705 non-null   object
 3   Item_Visibility            1705 non-null   float64
 4   Item_Type                  1705 non-null   object
 5   Item_MRP                   1705 non-null   float64
 6   Outlet_Identifier          1705 non-null   object
 7   Outlet_Establishment_Year  1705 non-null   int64
 8   Outlet_Size                1235 non-null   object
 9   Outlet_Location_Type       1705 non-null   object
 10  Outlet_Type                1705 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 146.7+ KB

In [5]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,NCR06,12.500,Low Fat,0.006760,Household,42.8112,OUT013,1987,High,Tier 3,Supermarket Type1,639.1680
1,FDW11,12.600,Low Fat,0.048741,Breads,60.4194,OUT013,1987,High,Tier 3,Supermarket Type1,990.7104
2,FDH32,12.800,Low Fat,0.075997,Fruits and Vegetables,97.1410,OUT013,1987,High,Tier 3,Supermarket Type1,2799.6890
3,FDL52,6.635,Regular,0.046351,Frozen Foods,37.4506,OUT017,2007,NaN,Tier 2,Supermarket Type1,1176.4686
4,FDO09,13.500,Regular,0.125170,Snack Foods,261.4910,OUT013,1987,High,Tier 3,Supermarket Type1,3418.8830

In [6]:
train.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
6813,NCC54,17.750,Low Fat,0.097863,Health and Hygiene,239.3196,OUT049,1999,Medium,Tier 1,Supermarket Type1,3615.2940
6814,NCF19,13.000,Low Fat,0.035252,Household,48.0034,OUT018,2009,Medium,Tier 3,Supermarket Type2,923.4646
6815,FDU11,4.785,Low Fat,0.092576,Breads,121.0098,OUT035,2004,Small,Tier 2,Supermarket Type1,2530.7058
6816,FDK14,6.980,Low Fat,0.041189,Canned,82.8934,OUT045,2002,NaN,Tier 2,Supermarket Type1,818.9340
6817,NCD31,NaN,Low Fat,0.015360,Household,163.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,1973.4312

In [7]:
train.sample(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1499,FDS12,9.100,Low Fat,0.291439,Baking Goods,126.8362,OUT010,1998,NaN,Tier 3,Grocery Store,125.8362
5390,FDR27,15.100,Regular,0.096250,Meat,134.4942,OUT049,1999,Medium,Tier 1,Supermarket Type1,2119.9072
6245,FDR02,16.700,Low Fat,0.022100,Dairy,110.1886,OUT049,1999,Medium,Tier 1,Supermarket Type1,1334.2632
1917,FDP44,16.500,Regular,0.079699,Fruits and Vegetables,100.6332,OUT035,2004,Small,Tier 2,Supermarket Type1,1537.9980
3286,FDS40,15.350,Low Fat,0.014041,Frozen Foods,38.4190,OUT049,1999,Medium,Tier 1,Supermarket Type1,476.0470
110,FDH50,15.000,Regular,0.161301,Canned,185.1266,OUT013,1987,High,Tier 3,Supermarket Type1,2213.1192
1007,DRH37,NaN,Low Fat,0.072865,Soft Drinks,165.2526,OUT019,1985,Small,Tier 1,Grocery Store,822.2630
3796,FDW19,NaN,Regular,0.038314,Fruits and Vegetables,109.9570,OUT027,1985,Medium,Tier 3,Supermarket Type3,4504.1370
5941,FDZ60,20.500,Low Fat,0.119547,Baking Goods,108.9596,OUT049,1999,Medium,Tier 1,Supermarket Type1,539.2980
3228,FDF11,10.195,reg,0.017703,Starchy Foods,239.4538,OUT018,2009,Medium,Tier 3,Supermarket Type2,3605.3070

In [8]:
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,5656.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,12.872703,0.066121,140.419533,1997.885890,2190.941459
std,4.651034,0.051383,62.067861,8.339795,1706.131256
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026914,93.610050,1987.000000,836.577700
50%,12.600000,0.053799,142.448300,1999.000000,1806.648300
75%,17.000000,0.095273,185.060150,2004.000000,3115.944000
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [9]:
test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  1404.000000      1705.000000  1705.000000                1705.000000
mean     12.796984         0.066174   143.285107                1997.615836
std       4.613957         0.052465    63.063146                   8.497423
min       4.555000         0.000000    31.955800                1985.000000
25%       8.710000         0.027571    94.743600                1987.000000
50%      12.600000         0.054234   144.512800                1999.000000
75%      16.700000         0.092927   187.755600                2004.000000
max      21.350000         0.311090   266.888400                2009.000000

In [10]:
train.describe(include='O') # 최빈값 확인할 때 사용

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
count,6818,6818,6818,6818,4878,6818,6818
unique,1554,5,16,10,3,3,4
top,FDW26,Low Fat,Snack Foods,OUT046,Medium,Tier 3,Supermarket Type1
freq,9,4092,963,763,2228,2664,4474

In [11]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1162
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1940
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [12]:
test.isnull().sum()

Item_Identifier                0
Item_Weight                  301
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  470
Outlet_Location_Type           0
Outlet_Type                    0
dtype: int64

In [13]:
train.isnull().sum().sum()

3102

In [ ]:
# -------------- 
# 데이터 전처리
# --------------

In [14]:
# y값(target) 분할
target = train.pop('Item_Outlet_Sales')
target

0        639.1680
1        990.7104
2       2799.6890
3       1176.4686
4       3418.8830
          ...
6813    3615.2940
6814     923.4646
6815    2530.7058
6816     818.9340
6817    1973.4312
Name: Item_Outlet_Sales, Length: 6818, dtype: float64

In [15]:
# 결측값 채우기(무게 : 최소값, 사이즈 : 최빈값)
train.describe()

#Item_Weight의 최소값(min)
train['Item_Weight']= train['Item_Weight'].fillna(train['Item_Weight'].min())
train.isnull().sum()
#Outlet_Size의 결측값은 최빈값(mode)
train['Outlet_Size']= train['Outlet_Size'].fillna(train['Outlet_Size'].mode()[0])
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6818 non-null   object
 1   Item_Weight                6818 non-null   float64
 2   Item_Fat_Content           6818 non-null   object
 3   Item_Visibility            6818 non-null   float64
 4   Item_Type                  6818 non-null   object
 5   Item_MRP                   6818 non-null   float64
 6   Outlet_Identifier          6818 non-null   object
 7   Outlet_Establishment_Year  6818 non-null   int64
 8   Outlet_Size                6818 non-null   object
 9   Outlet_Location_Type       6818 non-null   object
 10  Outlet_Type                6818 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 586.1+ KB

In [23]:
# 결측값 채우기(무게 : 최소값, 사이즈 : 최빈값)
test.describe()

#Item_Weight의 최소값(min)
test['Item_Weight']= test['Item_Weight'].fillna(test['Item_Weight'].min())
test.isnull().sum()
#Outlet_Size의 결측값은 최빈값(mode)
test['Outlet_Size']= test['Outlet_Size'].fillna(test['Outlet_Size'].mode()[0])
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1705 non-null   object
 1   Item_Weight                1705 non-null   float64
 2   Item_Fat_Content           1705 non-null   object
 3   Item_Visibility            1705 non-null   float64
 4   Item_Type                  1705 non-null   object
 5   Item_MRP                   1705 non-null   float64
 6   Outlet_Identifier          1705 non-null   object
 7   Outlet_Establishment_Year  1705 non-null   int64
 8   Outlet_Size                1705 non-null   object
 9   Outlet_Location_Type       1705 non-null   object
 10  Outlet_Type                1705 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 146.7+ KB

In [16]:
train.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  6818.000000      6818.000000  6818.000000                6818.000000
mean     11.455107         0.066121   140.419533                1997.885890
std       5.265718         0.051383    62.067861                   8.339795
min       4.555000         0.000000    31.290000                1985.000000
25%       6.690000         0.026914    93.610050                1987.000000
50%      11.000000         0.053799   142.448300                1999.000000
75%      16.100000         0.095273   185.060150                2004.000000
max      21.350000         0.328391   266.888400                2009.000000

In [ ]:
# 이상치는 생략하겠습니다.

In [17]:
# Label-Encoding/One-hot-Encodeing
from sklearn.preprocessing import LabelEncoder

cols = train.columns[train.dtypes == object]

for col in cols:
    le = LabelEncoder()
    le.fit(pd.concat([train[col],test[col]], axis=0)) # 행 합치기
    train[col] = le.transform(train[col])
    test[col] = le.transform(test[col])

# Item_Fat_Content 같이 object였던 것들이 수치형(숫자형)으로 변화합니다.
train
test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,717,17.250,1,0.073251,3,76.4986,2,2007,3,1,1
1,712,6.360,1,0.120544,6,45.8060,8,1997,2,0,1
2,928,10.695,2,0.128247,4,121.8440,3,2009,1,2,2
3,423,7.405,1,0.015296,3,89.7146,9,1999,1,0,1
4,828,10.500,2,0.142760,1,159.3578,9,1999,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1700,1502,NaN,1,0.097769,9,142.4496,4,1985,2,0,0
1701,1168,NaN,2,0.153457,4,264.0910,4,1985,2,0,0
1702,474,20.750,2,0.129864,12,240.1880,3,2009,1,2,2
1703,69,14.650,1,0.171282,7,54.0614,2,2007,3,1,1
1704,1276,19.600,1,0.041291,9,86.9514,8,1997,2,0,1

In [18]:
# 컬럼제거(id 같은경우가 X값으로 존재하게 되면 예측성능이 떨어짐) 
train.drop('Item_Identifier',axis=1, inplace=True) # Id의 axis를 drop하겠다.
test.drop('Item_Identifier',axis=1, inplace=True) # Id의 axis를 drop하겠다.
train
test

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,17.250,1,0.073251,3,76.4986,2,2007,3,1,1
1,6.360,1,0.120544,6,45.8060,8,1997,2,0,1
2,10.695,2,0.128247,4,121.8440,3,2009,1,2,2
3,7.405,1,0.015296,3,89.7146,9,1999,1,0,1
4,10.500,2,0.142760,1,159.3578,9,1999,1,0,1
...,...,...,...,...,...,...,...,...,...,...
1700,NaN,1,0.097769,9,142.4496,4,1985,2,0,0
1701,NaN,2,0.153457,4,264.0910,4,1985,2,0,0
1702,20.750,2,0.129864,12,240.1880,3,2009,1,2,2
1703,14.650,1,0.171282,7,54.0614,2,2007,3,1,1
1704,19.600,1,0.041291,9,86.9514,8,1997,2,0,1

In [ ]:
# -------------------
# 검증데이터 분할 train -validation 데이터를 8:2 비율로 나누는 것이 일반적
# -------------------

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(

    train,
    target,
    test_size = 0.2,
    random_state =0 # 난수값
)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((5454, 10), (1364, 10), (5454,), (1364,))

In [ ]:
# --------------------------
# 학습 및 평가(MSE, MAE, R2..)
# ---------------------------

In [20]:
# 모델학습
from sklearn.linear_model import LinearRegression # 선형회귀

lr = LinearRegression()
lr.fit(X_train ,y_train) #학습
y_pred = lr.predict(X_val) #예측
y_pred

array([3006.53001011, 1386.35244112, 1610.9644381 , ..., 2265.01933974,
       4071.18108208, 3489.44301098])

In [21]:
# 평가
from sklearn.metrics import mean_squared_error  # MSE
from sklearn.metrics import mean_absolute_error  # MAE
from sklearn.metrics import r2_score  # R2

# MSE
lr_mse = mean_squared_error(y_val, y_pred)

# MAE
lr_mae = mean_absolute_error(y_val, y_pred)

# RMSE -> squared=False 옵션으로 바로 가능!
lr_rmse = mean_squared_error(y_val, y_pred, squared=False)

# R2
lr_r2 = r2_score(y_val, y_pred)

print("MSE: ", lr_mse)  # 오차를 제곱하여 평귱 낸 값 - 값이 클수록 예측이 실제와 다름
print("MAE: ", lr_mae) # 오차를 절대값으로 계산 - 값이 클수록 예측이 실제와 다름
print("RMSE:", lr_rmse)
print("R2:  ", lr_r2)

#MSE/ MAE/ RMSE 상대적인 기준
# 평균적으로 Y 평균값의 10% 이하 : 준수한 성능
# 평균적으로 Y 평균값의 10 - 30% : 보통
# Y 평균값의 30% 이상 : 낮은 성능
# 시험점수(0-100) 예측 -> RMSE = 10 - 문제
# 아파트 가격(30평 - 평균 5억) 예측 -> RMSE=1000만원(오차 2%) -> 오차 작음(괜찮은 모델)

#R2 결졍계수
# 0.7 이상 : 좋은 모델
# 0.5 -0.7 : 보통
# 0.3 -0.5 : 낮은 모델

MSE:  1258220.3398377183
MAE:  858.9613052108202
RMSE: 1121.7042122759985
R2:   0.5153323554636462

In [22]:
# Lightgbm
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-4.6.0-py3-none-manylinux_2_28_x86_64.whl.metadata (17 kB)
Requirement already satisfied: numpy>=1.17.0 in /opt/conda/lib/python3.11/site-packages (from lightgbm) (1.24.4)
Requirement already satisfied: scipy in /opt/conda/lib/python3.11/site-packages (from lightgbm) (1.11.3)
Downloading lightgbm-4.6.0-py3-none-manylinux_2_28_x86_64.whl (3.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.6/3.6 MB 8.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: lightgbm
Successfully installed lightgbm-4.6.0

In [23]:
import lightgbm as lgb
model = lgb.LGBMRegressor(random_state=0, verbose=-1)
model.fit(X_train, y_train)
y_pred_lgb = model.predict(X_val)
y_pred_lgb

array([2983.84439509, 1212.23600204, 2302.55390985, ..., 2006.27151483,
       4741.85000463, 4010.89935397])

In [24]:
lgb_mse= mean_squared_error(y_val, y_pred_lgb)
# MAE
lgb_mae = mean_absolute_error(y_val, y_pred_lgb)
# RMSE -> squared=False 옵션으로 바로 가능!
lgb_rmse = mean_squared_error(y_val, y_pred_lgb, squared=False)
# R2
lgb_r2 = r2_score(y_val, y_pred_lgb)

print("MSE: ", lgb_mse)  # 오차를 제곱하여 평귱 낸 값 - 값이 클수록 예측이 실제와 다름
print("MAE: ", lgb_mae) # 오차를 절대값으로 계산 - 값이 클수록 예측이 실제와 다름
print("RMSE:", lgb_rmse)
print("R2:  ", lgb_r2)

MSE:  1111526.442702285
MAE:  732.8448115843846
RMSE: 1054.289544054329
R2:   0.571838981005607

In [46]:
# ----------------------------
# 상관계수 확인하기
#-----------------------------

In [32]:
# 임계값 조절
TARGET_CORR_TH = 0.03 # 상관계수 임계값

# 숫자형 기준으로 상관계수 계산
df_corr = train.copy()
df_corr['__target__']=y_train
df_corr
corr_with_target = df_corr.corr(numeric_only=True)['__target__'].drop('__target__')
corr_with_target


# 유지할 컬럼(타깃과의 절대 상관이 임계값 이상인 컬럼만 추출) 0.03보다 높은 녀석들
keep_features = corr_with_target[corr_with_target.abs() >= TARGET_CORR_TH].index.tolist()
keep_features

# 제거할 컬럼(y값의 증감에 크게 영향주지 않는 친구들)
delete_features = corr_with_target[corr_with_target.abs() < TARGET_CORR_TH].index.tolist()
delete_features

['Item_Fat_Content', 'Item_Type']

In [34]:
# -------------------------
# 컬럼 제거
# -------------------------
train.drop('Item_Fat_Content',axis=1,inplace=True)
train.drop('Item_Type',axis=1,inplace=True)

test.drop('Item_Fat_Content',axis=1,inplace=True)
test.drop('Item_Type',axis=1,inplace=True)

KeyError: "['Item_Fat_Content'] not found in axis"

In [35]:
# -------------
# 제거 확인
#--------------
train.shape, test.shape

((6818, 8), (1705, 8))

In [36]:
from sklearn.model_selection import train_test_split

X_train_re, X_val_re, y_train_re, y_val_re = train_test_split(

    train,
    target,
    test_size = 0.2,
    random_state =0 # 난수값
)
X_train_re.shape, X_val_re.shape, y_train_re.shape, y_val_re.shape

((5454, 8), (1364, 8), (5454,), (1364,))

In [37]:
import lightgbm as lgb
model = lgb.LGBMRegressor(random_state=0, verbose=-1)
model.fit(X_train_re, y_train_re)
y_pred_lgb_re = model.predict(X_val_re)
y_pred_lgb_re

array([2661.21892949, 1142.12172216, 2046.00747682, ..., 2066.62331858,
       4277.85387718, 4515.69649643])

In [38]:
lgb_mse_re= mean_squared_error(y_val_re, y_pred_lgb_re)
# MAE
lgb_mae_re = mean_absolute_error(y_val_re, y_pred_lgb_re)
# RMSE -> squared=False 옵션으로 바로 가능!
lgb_rmse_re = mean_squared_error(y_val_re, y_pred_lgb_re, squared=False)
# R2
lgb_r2_re = r2_score(y_val_re, y_pred_lgb_re)

print("MSE: ", lgb_mse_re)  # 오차를 제곱하여 평귱 낸 값 - 값이 클수록 예측이 실제와 다름
print("MAE: ", lgb_mae_re) # 오차를 절대값으로 계산 - 값이 클수록 예측이 실제와 다름
print("RMSE:", lgb_rmse_re)
print("R2:  ", lgb_r2_re)

MSE:  1108334.9408928182
MAE:  736.8110133347378
RMSE: 1052.7748766440136
R2:   0.5730683504694064